/*
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

div.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}
*/

.axis path,
.axis line {
    fill: none;
    stroke: lightgray;
    stroke-width: 1px;
}

/* Slider */
input[type='range'] {
    -webkit-appearance: none !important;
    background: lightgray;
    height: 4px;
    border-radius: 2px;
    margin: 0;
    width: 100%;
    max-width: 300px;
    outline:none;    
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border: 1px solid #000000;
    border-radius: 6px;
    background: gray;
    opacity: 1.0;
    height: 12px;
    width: 12px;
}    

.sliderController {
    max-width: 300px;
    font-size: 80%;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.tmp-element {
/*     visibility: hidden; */
    white-space: pre;
}

label {
    font-family: sans-serif;
    font-size: 80%;
    font-weight: normal;
}

.outputContainer {
    font-family: sans-serif;
    font-size: 80%;
    margin-bottom: 5px;
}

.headerInputOutput {
    font-size: 80%;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sliderValue {
    float: right;
    text-align: right;
}

.outputValue {
    float: right;
    text-align: right;
}

.radioButtonLabel {
    display: inline;
    margin-left: 5px;
    font-family: sans-serif;
    font-size: 80%;
    margin-bottom: 5px;
    font-weight: normal;
}

/* Angles */
path.trueAnomaly {
    stroke: purple;
    stroke-width: 5px;
    fill: none;
    opacity: 0.3;
}

input.trueAnomaly::-webkit-slider-thumb {
    background: purple;
    opacity: 0.5;
}    
.sliderAnnotation.trueAnomaly {
    color: purple;
}

path.argumentOfPerigee {
    stroke: none;
    fill: deepskyblue;
    opacity: 0.3;
}

input.argumentOfPerigee::-webkit-slider-thumb {
    background: deepskyblue;
    opacity: 0.5;
}    
.sliderAnnotation.argumentOfPerigee {
    color: deepskyblue;
}


line.semiLatusRectum {
    stroke: royalBlue;
    stroke-width: 3px;
    opacity: 0.5;
}
input.semiLatusRectum::-webkit-slider-thumb {
    background: royalBlue;
    opacity: 0.5;
}    
.sliderAnnotation.semiLatusRectum {
    color: royalBlue;
}

.flightPathAngle {
    color: green;
}
line.flightPathAngle {
    stroke: green;
}
path.flightPathAngle {
    fill: green;
    stroke: none;
    opacity: 0.5;
}
rect.flightPathAngle {
    stroke: green;
}
/*
path.flightPathAngle.line {
    fill: none;
    stroke: green;
    opacity: 0.5;
}
*/

/* Vectors */
line.acceleration {
    stroke: gray;
    stroke-width: 1px;
    marker-end: url('#accelerationArrowHead');
}
#accelerationArrowHead {
    fill: gray;
}
.velocity {
    color: orange;
}
line.velocity {
    stroke: orange;
    stroke-width: 3px;
    marker-end: url('#velocityArrowHead');
}

line.nbodyvelocity {
    stroke-width: 4px;
/*     marker-end: url('#velocityArrowHead'); */
}

line.velocity {
    stroke: orange;
}
path.velocity {
    fill: none;
    stroke: orange;
}
rect.velocity {
    stroke: orange;
}
#velocityArrowHead {
    fill: orange;
}

line.normalVelocity {
    stroke: red;
    stroke-width: 3px;
    marker-end: url('#normalVelocityArrowHead');
}

#normalVelocityArrowHead {
    fill: red;
}
.normalVelocity {
    color: red;
}
path.normalVelocity {
    fill: none;
    stroke: red;
}
rect.normalVelocity {
    stroke: red;
}

line.radialVelocity {
    stroke: blue;
    stroke-width: 3px;
    marker-end: url('#radialVelocityArrowHead');
}
#radialVelocityArrowHead {
    fill: blue;
}
.radialVelocity {
    color: blue
}
path.radialVelocity {
    fill: none;
    stroke: blue;
}
rect.radialVelocity {
    stroke: blue;
}


line.radialVelocityHelper, line.normalVelocityHelper {
    stroke: gray;
    stroke-width: 1px;
    stroke-dasharray: 4, 4;    
    opacity: 0.5;
}

line.satRadius {
    stroke: black;
    stroke-width: 1.5px;
    opacity: 0.5;
}


line.velocityRadius {
    stroke: gray;
    stroke-width: 1px;
    opacity: 0.5;
}

.hodographCircle {
    fill: none;
    stroke: orange;
    stroke-width: 2px;
    stroke-dasharray: 4,4;
    opacity: 0.5;
}

.hodographClippedCanvas {
    clip-path: url("#clipHodograph");
}

.circularVelocity {
    fill: red;
    stroke: white;
    stroke-width: 1px;
}

.satCircle {
    fill: gray;
    stroke: white;
    stroke-width: 1px;
}

.centralBody {
    fill: #eee;
    stroke: #ddd;
}

.nBody {
    fill: #ddd;
    stroke: #888;
    stroke-width: 1px;
    opacity: 0.8;
}

line.orbitAxisX, line.orbitAxisY {
    stroke: gray;
    opacity: 0.5;
    stroke-width: 1px;
}

.orbit {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

.xAxis {
    opacity: 0.35;
}

.yAxis {
    opacity: 0.35;
}

path.axis {
    fill: lightgray;
}

.axis text {
    font-family: sans-serif;
    font-size: 8pt;
}

.axis.label {
    font-family: sans-serif;
    font-size: 8pt;
}

.conicSectionLines line {
    stroke-width: 4px;
    opacity: 0.5;
    marker-end: none;
}
g.tick line {
    stroke-width: 1px;
}
.conicSectionLines line.trueAnomaly {
    stroke: purple;
    stroke-width: 4px;
    opacity: 0.5;
}

.conicSectionLines path {
    stroke-width: 2px;
    fill: none;
}
.conicSectionLines path.flightPathAngle {
    fill: none;
    stroke: green;
}

.conicSectionLines rect {
    stroke-width: 1px;
    fill: white;
}

.tick text {
    fill: gray;
}

.trail {
    fill: none;
    stroke-width: 3px;
    opacity: 0.3;
}

input[type="radio"] {
  display: inline; 
  margin: 0;
  width: 1em;
  height: 1em;
}

input.slidertextfield {    
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 35px;
    padding: 0;
    margin: 0;
    text-align: right;
    min-width: 1;
    min-height: 0;
    overflow: visible;
}

.verticalGrid, .horizontalGrid {
    fill: none;
    shape-rendering; crispEdges;
    stroke: black;
    stroke-width: 1px;
    opacity: 0.1;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
